h1 {
 border: double;
 box-shadow: 10px 10px 10px grey;
 border-radius: 2em;
 margin-right: 2em;
 margin-bottom: 2em;
 color: red;
}

.remove-btn {
 margin-left: 10px;
 border: double; 
 box-shadow: 5px 5px 5px black;
 cursor: pointer;
}





