body {
 
}

h1 {
 float: left;
 box-shadow: 10px 10px 10px grey;
 border-radius: 2em;
 margin-right: 2em;
 margin-bottom: 2em;
 color: black;
}



input.hinzufuegen {
 clear: left;
 float: left;
}

button.hinzufuegen {
 clear: left;
 float: left;
 box-shadow: 5px 5px 5px black;
 background-color: green;
}


